@import '../colors';

$detailBackgroundWhite: $backgroundColorWhite;
$detailSidebarColor: $paginationColor;
$detailHeaderColor: $blackColor;
$detailBorderColor: $backgroundColorMain;
$detailGreenColor: $greenColor;

.detail{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 100px 10%;

  &-figure{
    width: 100%;
    margin-left: 30px;

    &__img{
      width: 100%;
      height: auto;
    }
  }
  &-sidebar{
    min-width: 200px;
    width: 250px;
    color: $detailSidebarColor;

    .sidebar-phone{
      background-color: $detailBackgroundWhite;

      &__header{
        font-weight: 500;
        color: $detailHeaderColor;
        font-size: 18px;
        padding: 20px;
      }

      &__list{
        //margin-top: 25px;
        border-top: 2px solid $detailBorderColor;
        padding: 20px;
      }

      &__item{
        position: relative;

        &_img{
          position: absolute;
          background-image: url('images.png');
          background-position: -30px;
          width: 15px;
          height: 15px;
        }
      }

      &__number{
        margin-left: 30px;
      }
    }

    .sidebar-information{
      margin-top: 20px;
      background-color: $detailBackgroundWhite;

      &__header{
        font-weight: 500;
        color: $detailHeaderColor;
        font-size: 18px;
        padding: 20px;
      }

      &__list{
        border-top: 2px solid $detailBorderColor;
        padding: 20px;
        font-size: 17px;
      }

      &__item{
        margin-bottom: 20px;
      }

      &__detail{
        font-weight: 400;
      }

      &__info{
        font-size: 15px;
        color: $detailGreenColor;
      }
    }
  }
}

@import 'responsive';