@import '../colors';

$infoBackCol: $backgroundColorMain;
$infoTextBackCol: $backgroundColorWhite;
$infoBlackColor: $blackColor;
$infoGreenColor: $greenColor;
$infoGrayColor: #b0b4b7;

.information {
  background-color: $infoBackCol;
  //justify-content: space-between;
  padding: 100px 10%;
}
.information::after{
  display: table;
  content: '';
  clear: both;
}

.info{
  background-color: $infoTextBackCol;
  min-height: 400px;
  padding-right: 50px;
  padding-bottom: 10px;

  &-figure{
    float: left;
    &__img{
      width: auto;
      height: 410px;
      margin-right: 50px;
    }
  }

    &__name{
      padding-top: 50px;
      margin: 0 0 20px 50px;
      font-size: 20px;
      font-weight: bold;
      color: $infoBlackColor;
    }

    &__rank{
      margin-left: 50px;
      font-size: 18px;
      color: $infoGreenColor;
      font-weight: 600;
      margin-bottom: 25px;
    }

    &__text{
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 50px;
      color: $infoGrayColor;
      font-weight: bold;
      font-size: 16px;
    }
}

@import 'responsive';