$color: #00170a;
$color-menu: #36344e;
$color-menu-hover: #54faff;


$bodyBackColor: #e6e4e2;
$backgroundColor1: #ecf0ff;
$backgroundColor2: #e2e6f5;
$backgroundColor3: rgba(0,0,0,0.5);
$headerBackColor: #cfd9e4;

$button: #b1bbc6;

$border:  #c0e2ff;
$outline: #008800;

$green: #158021;
$red: #bb0000;

$white: white;
$colorbold: black;

$widthOfPage : 1300px;