@import '../colors';
@import 'responsive';

$contactHeaderColor: $blackColor;
$contactGreenColor: $greenColor;
$contactRedColor: $redColor;

.contact{
  color: $contactHeaderColor;

  &__header{
    text-align: center;
    margin-top: 80px;
    font-size: 34px;

  }

  .getInTouch{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;

    &-phone{
      width: 180px;
      height: 100px;
      padding: 20px 0;

      &__header{
        position: relative;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;

        &_img{
          position: absolute;
          left: 30px;
          background-image: url('images.png');
          background-position: -30px;
          width: 15px;
          height: 15px;
        }
      }
    }

    &-phoneList{
      color: $contactGreenColor;

      &__item{
        margin-bottom: 5px;
        font-weight: 800;

        &_red{
          margin-left: 25px;
          color: $contactRedColor;
        }
      }
    }

    &-address{
      width: 180px;
      height: 100px;
      padding: 20px 10px;

      &__header{
        position: relative;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;

        &_img{
          position: absolute;
          left: 30px;
          background-image: url('images.png');
          //background-position: 0px;
          width: 12px;
          height: 15px;
        }
      }
    }

    &-addressList{
      color: $contactGreenColor;

      &__item{
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;

        &_a{
          width: 100%;
          height: 100%;
          z-index: 1;
          position: absolute;
        }
      }

      &__metro{
        position: absolute;
        display: block;
        background-image: url('images.png');
        background-position: -45px;
        width: 18px;
        height: 15px;
        margin-right: 10px;
      }

      &__text{
        font-weight: 800;
        margin-left: 25px;
      }
    }

    &-email{
      width: 180px;
      height: 100px;
      padding: 20px 10px;

      &__header{
        position: relative;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;

        &_img{
          position: absolute;
          left: 30px;
          background-image: url('images.png');
          background-position: -10px;
          width: 20px;
          height: 15px;
        }
      }

      &__text{
        color: $contactGreenColor;
        margin-left: 20px;
        font-weight: 800;
        margin-top: 40px;
      }
    }
  }
}

@import 'responsive';