@import '../colors';
@import 'responsive';

@font-face {
  font-family: logo;
  src: url(Dutch801BoldItalic.ttf);
}

$headerTopBackColor: $backgroundColorDark;
$headerBottomBackColor: $backgroundColorGray;
$headerColor: $colorWhite;
$headerLogoColor: $logoColor;
$headerHoverBackCol: $backgroundHover;
$headerHoverBorder: $backgroundHoverDark;

.header{
  width: 100%;
  color: $headerColor;

  &-top{
    background-color: $headerTopBackColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    &__logo{
      margin-left: 10%;
      font-size: 50px;
      font-family: logo;
      cursor: pointer;

      &_color{
        color: $logoColor;
      }
    }

    & .menu{
      margin-right: 10%;

      &-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;

        &__li{
          margin-right: 5px;
          padding: 5px;
          font-weight: bold;
          cursor: pointer;
        }

        &__li:hover{
          background-color: $headerHoverBackCol;
          border-bottom: 1px solid $headerHoverBorder;
          border-radius: 1px;
        }
      }
    }
  }

  &-bottom{
    background-color: $headerBottomBackColor;
    //display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 20px;
    font-weight: bold;

    & .breadcrumbs{
      display: none;
    }
  }
}
