$backgroundColorDark: #1d313c;
$backgroundColorGray: #324550;
$backgroundHover: #7ad7a1;
$backgroundHoverDark: #2eac77;
$backgroundColorMain: #f8f9fa;
$backgroundColorWhite: #fdfeff;
$backgroundColorPagination: #c4e300;

$colorWhite: white;
$blackColor: #333333;
$logoColor: #7ad7a1;
$greenColor: #40ce92;
$paginationColor: #afb3b6;
$redColor: #bc4130;