@import '../colors';

$galleryBackCol: $backgroundColorMain;
$galleryColor: $blackColor;
$galleryElementBackCol: $backgroundColorWhite;
$galleryGreenColor: $greenColor;
$galleryColor: $blackColor;
$galleryButtonBackColStart: #3ccba1;
$galleryButtonBackColEnd: #89daa1;
$galleryButtonBorder: $backgroundHoverDark;
$galleryButtonColor: $colorWhite;
$galleryGrayColor: $paginationColor;

.gallery-elements{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: $galleryBackCol;
  padding: 100px 10%;

  &__header{
    color: $galleryColor;
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
  }

  & .element {
    margin: 15px 1%;
    width: 23%;
    position: relative;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $galleryElementBackCol;
      padding-bottom: 280px;

      &__img {
        width: 300px;
        max-width: 100%;
        height: 400px;
      }
    }

    &-figcaption{
      margin-left: 40px;
      width: 260px;
      text-align: left;
      font-size: 16px;
      position: absolute;
      bottom: 0;
      padding: 40px 0;

      &__name{
        margin-bottom: 30px;
        color: $galleryGreenColor;
      }

      &__span{
        font-size: 16px;
        font-weight: normal;
        color: $galleryGrayColor;
      }

      &__dimensions, &__price{
        margin: 15px 0;
        color: $galleryColor;
        font-size: 20px;
      }

      &__button{
        width: 150px;
        background: linear-gradient(to bottom, $galleryButtonBackColStart, $galleryButtonBackColEnd);
        padding: 20px 0;
        font-size: 16px;
        color: $galleryButtonColor;
        font-weight: bold;
        border: none;
        border-bottom: 3px solid $galleryButtonBorder;
        border-radius: 1px;
        cursor: pointer;
        margin-top: 25px;
        margin-left: 20px;
      }

      &__button:hover{
        background: linear-gradient(to top, $galleryButtonBackColStart, $galleryButtonBackColEnd);
      }
    }
  }
}
@import 'responsive';