@import '../colors';
$footerBackCol: $backgroundColorDark;
$footerColor: $colorWhite;

.footer {
  //background: $backgroundColor;
  margin: 0 auto;
  background-color: $footerBackCol;
  color: $footerColor;

  &__p{
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0 5px 0;
    text-align: center;
  }
}