$footerBackCol: #e2e6f5;

.footer {
  //background: $backgroundColor;
  width: 1300px;
  margin: 0 auto;
  background-color: $footerBackCol;

  .footer__p{
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0 5px 0;
    text-align: center;
  }
}