$bodyBackColor: #ffffff;
$fontColor: #00170a;
$widthOfPage: 1300px;
$galleryBackCol: #ecf0ff;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 16px;
  color: $fontColor;
  overflow: scroll;
  background-color: $bodyBackColor;
}


#root {
  //background: $backgroundColor;
  width: $widthOfPage;
  margin: 0 auto;
  background-color: $galleryBackCol;
  //border-bottom: 4px solid $backgroundColor2;
}