@import 'components/colors';

html{
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 16px;
  overflow: scroll;
  width: 100%;
  max-width: 1980px;
  min-width: 480px;
  background-color: $backgroundColorMain;
  height: 100%;
}


#root {
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}